@import "~/.config/rofi/config.rasi"

configuration {
    font:                "Noto Sans Regular 10";
    show-icons:          true;
    icon-theme:          "Qogir";
    display-drun:        "Apps";
    drun-display-format: "{name} | <span weight='light' size='small'>{exec}</span>";
    scroll-method:       0;
    disable-history:     false;
    sidebar-mode:        false;
}

