
@import "~/.config/rofi/config.rasi"
@import "~/.config/rofi/config-icons.rasi"

configuration {
	combi-modes: "window,drun,run";
	drun-display-format: "{name} | <span weight='light' size='small'>{exec}</span>";
	run-shell-command: "foot {cmd}";
}

