[Unit]
Description=Enable ntsync
After=multi-user.target

[Service]
ExecStart=/sbin/modprobe ntsync
User=root
Group=root

[Install]
WantedBy=default.target
